<p class="font-qsan text-lg font-medium">
  After applying for the internship,
  going back and forth on email,
  receiving my professor's
  recommendation, and having a
  face-to-face interview, I'm in! Of
  course, I started my first day at home
  (due to Covid lockdown again 😂)

  <br />
  <br />

   Right on time, in the middle of a new
  product launch, I got involved in design
  reviews, implemented the new product, moved
  the repository to GitLab CI, and participated
  in coding reviews. Even though I'm still
  an intern, my team believes in me, and
  any ideas I told are considered.
</p>
