<a class="font-qsan text-lg">
  Amazing time, people! At Agoda, I met
  people who are passionate, cheerful,
  and supportive. It never feels boring,
  as I get to learn about new products,
  new technologies, new frameworks, and
  help people solve problems.
  <br />
  <br />
  <a class="font-qsan text-lg"
    >Shoutout to my manager; he pushed
    me to the limit and gave me an
    opportunity to showcase my skills. I
    got involved in product design, had
    a stage to introduce the product in
    the manager's bi-weekly scrum, and
    wrote a blog on behalf of Agoda
    Engineering.
  </a><a
    class="underline"
    href="https://medium.com/@agoda.eng/c05a59b60fb1"
    target="_blank"
    >DevOps at Agoda: How we move 3
    million CI jobs from VMs to
    Kubernetes</a
  >
</a>
