Internal Tools Team:
<ul class="list-disc">
  <li>
    Developed the DevOps platform,
    standardized coding standards that
    allowed multiple teams to
    collaborate seamlessly. Written in
    React.js TypeScript, Golang, GitLab
    CI/CD, MSSQL.
  </li>
  <li>
    Utilized and contributed to the
    open-source project Renovatebot in
    Scala and Kotlin modules. Used by
    5000+ repositories save developers'
    time for each dependency update.
  </li>
  <li>
    Created ETL data pipeline and
    ensured correctness/stability using
    Python, Golang, GitLab CI/CD.
  </li>
</ul>
<br />
 DevOps Team:
<ul class="list-disc">
  <li>
    Maintained services in HA/multiple
    DCs ensuring availability,
    performance, and scalability using
    Terraform, Ansible, Graphite, and
    Elasticsearch.
  </li>
  <li>
    Initiated, Architect, and Led the
    project of moving 700+ GitLab CI
    Runner from OpenStack to Kubernetes.
    Resolved infrastructure issues,
    reduced provision time by 80%,
    introduced auto-scaling with KEDA,
    and published Medium blog
    https://medium.com/@agoda.eng/c05a59b60fb1
  </li>
  <li>
    Setup monitoring and observability
    for Kubernetes cluster on
    self-hosted and GKE using Helm,
    Prometheus, and Loki.
  </li>
  <li>
    Investigate and resolve
    infrastructure, network, and
    security issues, implementing
    preventative measures, technical
    support, and on-call rotation.
  </li>
</ul>
