<p
  class="font-qsan text-lg font-medium"
>
  The moment I applied for my first <a
    class="font-qsan text-lg font-bold"
    >Startup</a
  >
   internship was weird exciting. I
  wondered if I could do the job with my
  little experience.
  <br />
  <br />
   It turns out I learned so much
  about writing frontend/backend code, managing
  Google Cloud infrastructure, and
  deploying applications. I worked
  closely with other teams, such as
  UX/UI, Support, and Business
  Development.
</p>
