---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Experience from "src/components/Experience/Experience.astro"
import ButtonCenter from "src/components/ButtonCenter.astro"
---

<Layout
  title="Tim - Jinna Chodchoy"
  description="A noob software engineer who like coding and owning home server. Coding is art!"
  image="/assets/index/og-img.png"
>
  <main
    class="w-full bg-gray-100 text-black"
  >
    <Hero />
    <!-- <Aboutme /> -->
    <Experience />
    <div
      class="flex justify-center pb-8"
    >
      <ButtonCenter
        text="View all projects 👉"
        href="/projects"
      />
    </div>
    <!-- <Showcases
      contents={[
        {
          img: "https://images.unsplash.com/photo-1465572089651-8fde36c892dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2666&q=80",
          title: "My first project",
          description:
            "This project i Test",
        },
        {
          img: "https://images.unsplash.com/photo-1465572089651-8fde36c892dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2666&q=80",
          title: "My first project",
          description:
            "This project i Test",
        },
        {
          img: "https://images.unsplash.com/photo-1465572089651-8fde36c892dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2666&q=80",
        },
        {
          img: "https://images.unsplash.com/photo-1465572089651-8fde36c892dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2666&q=80",
        },
        {
          img: "https://images.unsplash.com/photo-1465572089651-8fde36c892dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2666&q=80",
        },
      ]}
    /> -->
  </main>
</Layout>
