---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
// import Experience from "src/components/Experience/Experience.astro"
import ButtonCenter from "src/components/ButtonCenter.astro"
import TabExp from "src/components/TabExp/TabExp.astro";
---

<Layout
  title="Tim - Jinna Chodchoy"
  description="A noob software engineer who like coding and owning home server. Coding is art!"
  image="/assets/index/og-img.png"
>
  <main
    class="w-full bg-gray-100 text-black"
  >
    <Hero />
    <TabExp />
    <!-- <Experience /> -->
    <div
      class="flex justify-center pb-8"
    >
      <ButtonCenter
        text="View all projects 👉"
        href="/projects"
      />
    </div>
  </main>
</Layout>
