---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Experience from "src/components/Experience.astro"
---

<Layout title="Hi !">
  <main>
    <Hero />
    <Experience />
  </main>
</Layout>

<style is:global>
html {
  scroll-behavior: smooth;
}
</style>
