---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import ButtonCenter from "src/components/ButtonCenter.astro"
import TabExp from "src/components/TabExp/TabExp.astro"
---

<Layout
  title="Tim - Jinna Chodchoy"
  description="Software Engineer, DevOps, SRE, and Home Lab Enthusiast + AI"
  image="/assets/index/og-img.png"
>
  <main>
    <Hero />
    <TabExp />
    <div
      class="flex justify-center pb-8"
    >
      <ButtonCenter
        text="View all projects 👉"
        href="/projects"
      />
    </div>
  </main>
</Layout>
