---
import ThemeSelector from "./ThemeSelector"
const navbars = [
  {
    label: "Tim Jinna",
    href: "/",
  },
  {
    label: "Tech",
    href: "/tech",
  },
  {
    label: "Skills",
    href: "#skills",
  },
]

const { pathname } = Astro.url
---

<nav class="flex justify-center fixed w-full">
  <div class="flex gap-2 bg-white rounded-3xl m-4">
    {
      navbars.map((i) => (
        <button
          class={
            (pathname === i.href
              ? "text-black"
              : "text-gray-300 hover:text-gray-800") +
            " rounded-full p-4 text-sm font-medium"
          }
        >
          <a href={i.href}>{i.label}</a>
        </button>
      ))
    }
    <!-- <ThemeSelector client:load /> -->
  </div>
</nav>

<script></script>
