<div
  class="container mx-auto my-8 flex flex-col items-center gap-2 rounded-3xl bg-white p-14"
>
  <p
    class="font-qsan text-3xl font-medium"
  >
    Who am I ?
  </p>

  <div
    class="flex w-full flex-col items-center gap-2"
  >
    <p class="font-qsan">
      My name is Tim, a self-taught and
      Computer Science student. Right
      after the COVID lockdown(March 2020), I began
      studying the React.js course from
      CS50. After one
      month of practice, I had the
      opportunity to intern at
      Kollective One (a startup where I
      do everything).
    </p>
  </div>
</div>
