---
import GitHubSvg from "./svgs/GitHubSvg.astro"
import LinkedIn from "./svgs/LinkedIn.astro"
import GmailSvg from "./svgs/GmailSvg.astro"
// import Modal from "./Modal/index.svelte"
const socialMedias = [
  {
    icon: GitHubSvg,
    href: "https://github.com/cjtim",
  },
  {
    icon: LinkedIn,
    href: "https://www.linkedin.com/in/jinna-chodchoy/",
  },
  {
    icon: GmailSvg,
    href: "mailto:jinnatim@gmail.com",
  },
]
---

<div
  class="flex w-full flex-wrap items-center justify-around gap-8 bg-gradient-to-tr from-green-500 to-blue-400 p-8 text-white"
>
  <div
    class="flex w-5/6 flex-col items-center text-center sm:w-2/5"
  >
    <img
      src="./profile-ai.png"
      class="rounded-full shadow-xl"
      alt={`"A Software Engineer enjoying
      write a code his laptop in cute
      cartoon style" - AI Generated`}
    />
    <a class="p-2 font-qsan italic">
      "A Software Engineer enjoying
      write a code his laptop in cute
      cartoon style" - AI Generated
    </a>
  </div>
  <div
    class="flex flex-col gap-8 md:items-end"
  >
    <p
      class="font-qsan text-5xl font-bold"
    >
      Tim
    </p>
    <p
      class="break-words font-qsan text-5xl font-semibold"
    >
      Jinna Chodchoy
    </p>
    <p class="font-qsan text-3xl">
      A Software Engineer
    </p>

    <div
      class="flex h-24 flex-col items-center
        justify-center gap-1 rounded-3xl bg-gray-200
        p-4"
    >
      <a
        class="font-qsan text-sm text-black"
      >
        Let's talk! ping me</a
      >
      <div class="flex gap-4">
        {
          socialMedias.map((item) => (
            <a
              class="h-12 w-12 fill-gray-800 hover:fill-gray-400 "
              href={item.href}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={item.href}
            >
              <item.icon />
            </a>
          ))
        }
      </div>
    </div>
    <!-- <button
      class="rounded-full bg-white p-2 text-black"
      >Resumé</button
    > -->
    <!-- <Modal id="gmail" client:only/> -->
  </div>
</div>
