---
import GitHubSvg from "./svgs/GitHubSvg.astro"
import LinkedIn from "./svgs/LinkedIn.astro"
---

<div
  class="flex w-full bg-black text-white"
>
  <div
    class="m-48 flex w-full content-center items-center justify-between"
  >
    <div
      class="flex w-2/5 flex-col text-center"
    >
      <img
        src="./profile-ai.png"
        class="rounded-full shadow-xl"
      />
      <a class="font-qsan italic">
        "A programmer, enjoying write a
        code his laptop, export in cute
        cartoon style" - AI Generated
      </a>
    </div>
    <div
      class="flex flex-col items-end gap-8"
    >
      <p
        class="font-qsan text-5xl font-bold"
      >
        Tim
      </p>
      <p
        class="font-qsan text-5xl font-semibold"
      >
        Jinna Chodchoy
      </p>
      <p class="font-qsan text-3xl">
        A Software Engineer
      </p>

      <div
        class="flex h-24 items-center
        justify-center gap-4 rounded-3xl bg-gray-800
        p-8"
      >
        <a
          class="h-12 w-12 fill-white hover:fill-gray-400"
          href="https://www.linkedin.com/in/jinna-chodchoy/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <LinkedIn />
        </a>

        <a
          class="h-12 w-12 fill-white"
          href="https://github.com/cjtim"
          target="_blank"
          rel="noopener noreferrer"
        >
          <GitHubSvg />
        </a>
      </div>
      <button
        class="rounded-full bg-white p-2 text-black"
        >Resumé</button
      >
    </div>
  </div>
</div>
