---
---

<div class="bg-black text-white min-w-full flex justify-center p-56">
  <div class="flex flex-col justify-center text-center gap-4">
    <p class="text-3xl">Tim Jinna</p>
    <h2>Software Engineer</h2>
    <button class="rounded-full bg-white text-black">Resumé</button>
  </div>
</div>
