---
import ButtonCenter from "./ButtonCenter.astro"
---

<div
  class="flex flex-wrap justify-around p-2 dark:text-white"
>
  <div
    class="flex flex-wrap items-center justify-center gap-8 text-center md:text-left"
  >

    <div class="flex flex-col gap-4">
      <h1
        class="overflow-hidden font-qsan text-5xl font-semibold md:animate-appearSlide md:whitespace-nowrap md:opacity-0"
      >
        I'm Tim
      </h1>
      <h2
        class="overflow-hidden font-qsan text-3xl md:animate-appearSlide md:whitespace-nowrap md:opacity-0"
      >
        Software Engineer, DevOps, SRE, and Home Lab Enthusiast + AI 👨🏼‍🔬
      </h2>
      <div
        class:list={[
          "transition",
          "hover:scale-105",
          "overflow-hidden py-4 md:animate-appearSlide md:whitespace-nowrap md:opacity-0",
          "group cursor-pointer",
        ]}
      >
        <a
          href="/projects"
          class:list={[
            "rounded-3xl",
            "bg-blue-100",
            "px-5",
            "py-3",
            "text-sm",
            "dark:text-black",
            "dark:hover:bg-blue-100",
          ]}
        >
          Checkout my projects! 👉
        </a>
      </div>
    </div>
  </div>
</div>
