---
const navbars = [
	{
		label: "Tim Jinna",
		href: "#",
	},
	{
		label: "Skills",
		href: "#skills",
	},
	{
		label: "Theme",
		id: "btn-theme",
	},
]
---

<nav class="py-2 flex justify-center gap-2">
	{
		navbars.map((i) => (
			<button
				id={i?.id}
				class="rounded-full px-4 py-2 text-sm font-semibold text-violet-700 bg-violet-50 p-2 hover:bg-violet-100 hover:underline hover:border-b-4"
			>
				{i.label}
			</button>
		))
	}
</nav>

<script>
	import { getTheme, isDark } from "../utils/theme"

	const switchTheme = () => {
		console.log(isDark())
		if (isDark()) {
			const theme = "light"
			document.documentElement.classList.remove("dark")
			document.getElementById("btn-theme")!.innerHTML = theme
			localStorage.setItem("theme", theme)
		} else {
			const theme = "dark"
			document.documentElement.classList.add("dark")
			document.getElementById("btn-theme")!.innerHTML = theme
			localStorage.setItem("theme", theme)
		}
	}

	const btn = document.querySelector("button[id=btn-theme]")
	btn?.addEventListener("click", switchTheme)

	const isThemeDark = isDark()
	isThemeDark
		? document.documentElement.classList.add("dark")
		: document.documentElement.classList.remove("dark")
	// document.getElementById("btn-theme").innerHTML = getTheme();
</script>
