---
import CircleSvg from '../svgs/CircleSvg.astro'
const {heading, company, timeline, Description} = Astro.props
---
<div class="flex">
    <div class="flex flex-col basis-1/5">
            <a>{heading}</a>
            <a>{company}</a>
            <a>{timeline}</a>
        </div>

        <div class="flex flex-col items-center basis-1/6">
            <div class="fill-white border-gray-500 border rounded-full w-8">
                <CircleSvg />
            </div>
            <div class="border w-px h-full"></div>
        </div>
        <div class="basis-1/2">
            <article class="prose lg:prose-xl">
                <Description />
            </article>
        </div>
</div>