---
import Layout from "@layouts/Layout.astro"
import { getCollection } from "astro:content"
import ButtonCenter from "src/components/ButtonCenter.astro"
import HighlightText from "src/components/HighlightText.astro"
// import { Icon } from "astro-icon"

const aspect = "landscape",
  preloadImage = false
const pageTitle = "My Projects"
const allPosts =
  await getCollection("projects")
---

<Layout
  title={pageTitle}
  description="Tim's achivements and projects!"
  image="/assets/projects/og-img.png"
>
  <main
    class="w-full bg-gray-100 text-black"
  >
    <div
      class="flex flex-col items-center
   gap-4 bg-gradient-to-tr from-blue-500
   to-red-400 p-8 text-white"
    >
      <h1
        class="font-qsan text-5xl font-semibold"
      >
        My Projects
      </h1>
      <h2
        class="font-qsan text-xl font-normal"
      >
        New projects are coming. Stay
        tune!
      </h2>
    </div>

    <div class="h-8"></div>
    <div
      class="container mx-auto grid max-w-screen-lg grid-cols-1 place-content-center gap-8 rounded-3xl p-8 md:grid-cols-2"
    >
      {
        allPosts.map((post) => (
          <div class="group flex cursor-pointer flex-col p-4">
            <a
              href={
                "/projects/" + post.slug
              }
            >
              <div class="relative h-0 w-full pb-[56.25%] transition hover:scale-105">
                <img
                  src={
                    post.data.image.url
                  }
                  alt="Thumbnail"
                  loading={
                    preloadImage
                      ? "eager"
                      : "lazy"
                  }
                  class="absolute left-0 top-0 h-full w-full rounded-2xl object-cover"
                />
              </div>
            </a>
            <a
              href={`/projects/${post.slug}`}
            >
              <HighlightText>
                <h3
                  class:list={[
                    "font-qsan text-xl font-semibold ",
                  ]}
                >
                  {post.data.title}
                </h3>
              </HighlightText>
              <a class="text-md font-qsan text-gray-600">
                {post.data.description}
              </a>
            </a>
          </div>
        ))
      }
    </div>
    <div
      class="flex justify-center py-7"
    >
      <ButtonCenter
        text="â† Back to Home"
        href="/"
      />
    </div>
  </main>
</Layout>
