---
import Layout from "@layouts/Layout.astro"
import { getCollection } from "astro:content"
import Breadcrumb from "src/components/Breadcrumb.astro"
import ButtonCenter from "src/components/ButtonCenter.astro"
import HighlightText from "src/components/HighlightText.astro"
// import { Icon } from "astro-icon"

const aspect = "landscape",
  preloadImage = false
const pageTitle = "My Projects"
const allPosts =
  await getCollection("projects")
---

<Layout
  title={pageTitle}
  description="Tim's achivements and projects!"
  image="/assets/projects/og-img.png"
>
  <main
    class="w-full bg-gray-100 text-black"
  >
    <div
      class="flex flex-col items-center
   gap-4 bg-gradient-to-tr from-blue-500
   to-red-400 p-8 text-center text-white"
    >
      <h1
        class="font-qsan text-5xl font-semibold"
      >
        My Projects
      </h1>
      <h2
        class="font-qsan text-xl font-normal"
      >
        New projects are coming. Stay
        tune!
      </h2>
    </div>

    <div
      class="container mx-auto px-8 pt-4 max-w-screen-lg"
    >
      <Breadcrumb
        items={[
          {
            title: "Home",
            href: "/",
          },
          {
            title: "Projects",
            href: "/projects",
          },
        ]}
      />
    </div>
    <div
      class="container mx-auto grid max-w-screen-lg grid-cols-1 place-content-center gap-8 rounded-3xl px-8 py-4 md:grid-cols-2"
    >
      {
        allPosts.map((post) => (
          <div class="group flex cursor-pointer flex-col">
            <a
              href={
                "/projects/" + post.slug
              }
            >
              <div class="relative h-0 w-full pb-[56.25%] transition hover:scale-105">
                <img
                  src={
                    post.data.image.url
                  }
                  alt="Thumbnail"
                  loading={
                    preloadImage
                      ? "eager"
                      : "lazy"
                  }
                  class="absolute left-0 top-0 h-full w-full rounded-2xl object-cover"
                />
              </div>
            </a>
            <h2>
              <a
                href={
                  "/project/" +
                  post.slug
                }
              >
                <span
                  class="bg-gradient-to-r from-purple-300 to-purple-100 bg-[length:0px_10px] bg-left-bottom bg-no-repeat 
                font-qsan text-xl font-semibold 
                transition-[background-size] duration-500 
                hover:bg-[length:100%_2px] group-hover:bg-[length:100%_5px] 
               "
                >
                  {post.data.title}
                </span>
              </a>
            </h2>
            <span class="text-md font-qsan text-gray-600">
              {post.data.description}
            </span>
          </div>
        ))
      }
    </div>
    <div
      class="flex justify-center py-7"
    >
      <ButtonCenter
        text="â† Back to Home"
        href="/"
      />
    </div>
  </main>
</Layout>
