---
import CircleSvg from "../svgs/CircleSvg.astro"
const {
  heading,
  company,
  timeline,
  Description,
  line,
} = Astro.props
---

<div class="flex flex-wrap">
  <div class="flex basis-1/5 flex-col">
    <a class="text-xl">{heading}</a>
    <a>{company}</a>
    <a>{timeline}</a>
  </div>

  <div
    class="flex basis-1/6 flex-col items-center"
  >
    <div
      class="w-8 rounded-full border border-gray-500 fill-white"
    >
      <CircleSvg />
    </div>
    {
      line && (
        <div
          class="w-px overflow-visible border"
          style="height: 150%;"
        />
      )
    }
  </div>
  <div class="basis-1/2">
    <article class="prose lg:prose-xl">
      <Description />
    </article>
  </div>
</div>
