---
import CircleSvg from "../svgs/CircleSvg.astro"
const {
  heading,
  company,
  timeline,
  Description,
  line,
} = Astro.props
---

<div class="flex flex-wrap gap-4">
  <div
    class="flex basis-full flex-col md:basis-1/4"
  >
    <a
      class="font-qsan text-xl font-bold"
      >{heading}</a
    >
    <a
      class="font-qsan text-lg font-semibold"
      >{company}</a
    >
    <a class="font-qsan text-lg"
      >{timeline}</a
    >
  </div>

  <div
    class="-mb-3.5 block h-full w-full overflow-visible border md:hidden"
  >
  </div>

  <div
    class="hidden w-28 flex-col items-center md:flex"
  >
    <div
      class="w-8 rounded-full fill-gray-300"
    >
      <CircleSvg />
    </div>
    {
      line && (
        <div class="-mb-3.5 h-full w-px overflow-visible border" />
      )
    }
  </div>

  <div class="md:basis-1/2">
    <article class="prose">
      <Description />
    </article>
  </div>
</div>
