---
import CircleSvg from "../svgs/CircleSvg.astro"
const {
  heading,
  company,
  companyLink,
  timeline,
  Description,
  line,
} = Astro.props
---

<div class="flex flex-wrap gap-2">
  <div
    class="flex basis-full flex-col xl:basis-1/4"
  >
    <a
      class="font-qsan text-xl font-bold"
      >{heading}</a
    >
    <a
      class="font-qsan text-lg font-semibold decoration-solid hover:underline"
      href={companyLink}
      target="_blank">{company}</a
    >
    <a class="font-qsan text-lg"
      >{timeline}</a
    >
  </div>

  <div
    class="-mb-3.5 block h-full w-full overflow-visible border xl:hidden"
  >
  </div>

  <div
    class="hidden w-28 flex-col items-center xl:flex"
  >
    <div
      class="w-8 rounded-full fill-gray-300"
    >
      <CircleSvg />
    </div>
    {
      line && (
        <div class="-mb-[3rem] h-full w-px overflow-visible border" />
      )
    }
  </div>

  <div class="xl:basis-3/5">
    <Description />
  </div>
</div>
