---
import ExpCard from "./ExpCard.astro"
import AgodaIntern from "./contents/AgodaIntern.astro"
import KollectiveOne from "./contents/KollectiveOne.astro"
---

<div
  id="hero"
  class="flex flex-col gap-8 p-8"
>
  <p class="text-2xl">Experiences</p>

  <div class="flex flex-col gap-4 px-8">
    <ExpCard
      heading="DevOps Engineer Internship"
      company="Agoda"
      timeline="April 2021 - Mar 2022"
      Description={AgodaIntern}
    />
    <ExpCard
      heading="Software Engineer (Contract)"
      company="Kollective one"
      timeline="May 2020 - Mar 2021"
      Description={KollectiveOne}
    />
  </div>
</div>
