---
import ExpCard from './ExpCard.astro';
import Agoda from './contents/Agoda.astro'
---
<div id="exp" class="flex flex-col container p-8 gap-8 bg-black text-white min-w-full justify-center">
    <p class="text-2xl">Professional Experiences</p>

    <div class="flex flex-col gap-4 px-8">
        <ExpCard 
            heading="DevOps Engineer"
            company="Agoda" 
            timeline="April 2022 - July 2023"
            Description={Agoda}
        />
</div>