
<footer>
  <div
    class="flex w-full flex-col items-center gap-2 bg-gray-100 pb-2"
  >
    <div
      class="h-px w-3/5 overflow-visible rounded-full border border-gray-300"
    >
    </div>

    <div
      class="flex gap-4 p-2 text-center"
    >
      <p class="text-md font-qsan">
        Made with Astro.js (+ Svelte.js,
        React.js), Tailwind, Vercel,
        Integrated with Posthog and
        Google Analytics
      </p>
    </div>
  </div>
</footer>
