---
import Link from "src/components/Link.astro";

---

<footer>
  <div
    class="flex w-full flex-col items-center gap-2 bg-gray-100 p-8"
  >
    <div
      class="h-px w-3/5 overflow-visible rounded-full border border-gray-300"
    >
    </div>

    <div
      class="flex gap-4 p-2 text-center"
    >
      <p class="text-md font-qsan"
        >This website is to studing and
        play with
        <Link
          class="text-md font-qsan underline"
          href="https://astro.build/"
          newtab>Astro.js</Link>
         (on top of <Link
          class="text-md font-qsan underline"
          newtab
          href="https://svelte.dev/"
          >Svelte.js</Link>, 
          <Link
            class="text-md font-qsan underline"
            newtab
            href="https://react.dev/"
          >React.js</Link>), Tailwind, Vercel
      </p>
    </div>
  </div>
</footer>
