---
import Navbar from "../components/Navbar/index.astro"
import Analytics from "./_analytics.astro"

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Just a noob web engineer who like coding and owning home server. Coding is art!"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
      defer
      async
    />
    <Analytics />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>
      {title}
    </title>
  </head>
  <body>
    <!-- <Navbar /> -->
    <slot />
  </body>
</html>
