---
import Navbar from "../components/Navbar.astro";
import nightwind from "nightwind/helper";

export interface Props {
  title: string;
}
const { hostname } = Astro.url;

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${hostname} | ${title}`}</title>
    <script dangerouslySetInnerHTML={{ __html: nightwind.init() }}></script>
  </head>
  <body class="bg-white">
    <Navbar />
    <slot />
  </body>
</html>
